body {
  font-family: arial;
}

.hero-image {
  background-image: url("/image/Hero-image-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}
