body {
  font-family: arial;
}

.hero-image {
  background-image: url("/image/Hero-image-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  width: 100%;
}

.carousel{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .hero-image {
    background-image: url("/image/Hero-image-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
  }
}
